{% extends "layout.html" %}

{% block title %}Home - Debate Tools{% endblock %}

{% block body %}
<!-- Page content goes here -->
    <section class="hero is-large has-homepage-bg">
        <div class="hero-body">
            <p class="title is-1">Debate Tools</p>
            <p class="subtitle">Open-Source Tools for Flowing, Case Writing, and Competing for any Public Forum Debater</p>
            <a href="/signUp/"><button type="button" class="button">Start Now</button></a>
            <a href="https://github.com/asiankidtv/debate-tools/"><button type="button" class="button">View Source Code</button></a>
        </div>
    </section>
{% endblock %}