{% extends "layout.html" %}

{% block title %}Home - Debate Tools{% endblock %}

{% block body %}
<!-- Page content goes here -->
    <section class="hero is-large has-homepage-bg">
        <div class="hero-body">
            <p class="title is-1">Debate Tools</p>
            <p class="subtitle">Open-Source Tools for Flowing, Case Writing, and Competing for any Public Forum Debater</p>
            <a href="/signUp/"><button type="button" class="button">Start Now</button></a>
            <a href="https://github.com/asiankidtv/debate-tools/"><button type="button" class="button">View Source Code</button></a>
        </div>
    </section>

    <section class="hero is-small">
        <div class="hero-body has-text-centered">
            <p class="title">Features:</p>
            <p class="subtitle">Current ones with more coming soon!</p>
        </div>
    </section>

    <section class="m-5">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <p class="title is-3 p-5 has-text-centered has-text-info">Case Flow</p>
                    <div class="card-content">
                        <p>Easy-to-Use Flowing System with saving, loading, naming, and organizing flows. Highlight, Insert Images, and more with full annotation support.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p class="title is-3 p-5 has-text-centered has-text-warning">AI Summary</p>
                    <div class="card-content">
                        <p>Recieve Feedback on the current state of the round with one click. Includes strengths, weaknesses, and potential flaws in both sides of the flow.</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p class="title is-3 p-5 has-text-centered has-text-primary">Upcoming: Card Search</p>
                    <div class="card-content">
                        <p>Looking for a specific card or piece of evidence? Our Card Searcher searches the web and autoformats the card for easy use in your cases!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}