{% extends "layout.html" %}

{% block title %}Home - Debate Tools{% endblock %}

{% block body %}
<!-- Page content goes here -->
    <section style="padding: 5%; margin: 10%;" class="logo-section">
        <h1 class="text-center">Powering your Debate Skills</h1>
        <h3 class="text-center fw-normal" style="margin: 60px;">Open-Source Tools for Flowing, Case Writing, and Competing for any Public Forum Debater</h3>
        <a href="/signUp/"><button type="button" class="btn btn-primary" style="width: 10%; margin-left: 40%;">Start Now</button></a>
        <a href="https://github.com/asiankidtv/debate-tools/"><button type="button" class="btn btn-secondary py-15" style="width: 10%; margin-left: 0%;">See Source Code</button></a>
    </section>
{% endblock %}