{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bulma CSS Implementation ADD CUSTOM CSS AFTER-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">

    <!--Quill Rich Text Editor-->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'base.css' %}">

    <!--Favicon-->
    <link rel="icon" sizes="32x32" href="{% static 'logo.png' %}">

    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{% static 'logo.png' %}" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
                <strong>Debate Tools</strong>
            </a>

            <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="mainNavbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/flow">Round Flow</a>
                <a class="navbar-item" href="/evidence/">Evidence Search</a>
            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                    <div class="navbar-item">
                        Logged in as {{ user.username }}
                    </div>
                    <div class="navbar-item">
                        <form method="post" action="/accounts/logout/">
                            {% csrf_token %}
                            <button type="submit" class="button">Logout</button>
                        </form>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <button type="button" class="button" onclick="location.href='/accounts/login/'">Login</button>
                    </div>
                    <div class="navbar-item">
                        <button type="button" class="button is-primary" onclick="location.href='/signUp/'">Sign Up</button>
                    </div>
                {% endif %}
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

                });
            });

            });
        </script>
    </nav>
    
    {% block body %}
    {% endblock %}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Debate Tools</strong> by <a href="https://github.com/asiankidtv/">asiankidtv</a>.
                The source code is licensed <a href="https://opensource.org/license/mit">MIT</a>.
                View the source Code on <a href="https://github.com/asiankidtv/debate-tools">github</a>
            </p>
        </div>
    </footer>
</body>
</html>