{% extends 'layout.html' %}

{% block title %}Login - Debate Tools{% endblock %}

{% block body %}

<section class="hero is-large has-homepage-bg">
    <div class="hero-body">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-md-5 mt-md-4 pb-5">
                        
                        <p class="title">Login</p>
                        <p class="subtitle">Please enter your login and password!</p>
                        
                        <section class="m-5">
                                <div data-mdb-input-init class="m-5">
                                    <label class="form-label" for="typeUsername">Username</label>
                                    {{ form.username }}
                                    {{ form.username.errors }}
                                </div>

                                <div data-mdb-input-init class="m-5">
                                    <label class="form-label" for="typePassword1">Password</label>
                                    {{ form.password }}
                                    {{ form.password.errors }}
                                </div>
                        </section>

                        <button data-mdb-button-init data-mdb-ripple-init class="button" type="submit">Login</button>
                    </div>
                </form>
                
                <div>
                    <p class="mb-0">Don't have an account? <a href="/signUp/" class="text-white-50 fw-bold">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}