{% extends 'layout.html' %}

{% block title %}Sign Up - Debate Tools{% endblock %}

{% block body %}

<section class="hero is-large has-homepage-bg">
    <div class="hero-body">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <p class="title">Sign Up</p>
                            <p class="subtitle">Please enter an email, username and password!</p>

                            <section>
                                <div data-mdb-input-init class="m-5">
                                    <label class="form-label" for="typeEmailX">Email</label>
                                    {{ form.email }}
                                </div>

                                <div data-mdb-input-init class="m-5">
                                    <label class="form-label" for="typeUsername">Username</label>
                                    {{ form.username }}
                                    {{ form.username.errors }}
                                </div>

                                <div data-mdb-input-init class="m-5">
                                    <label class="form-label" for="typePassword1">Password</label>
                                    {{ form.password1 }}
                                    {{ form.password1.errors }}
                                </div>

                                <div data-mdb-input-init class="m-5">
                                    <label class="form-label" for="typePassword2">Confirm Password</label>
                                    {{ form.password2 }}

                                    <section class="mt-5">
                                        {% if form.errors %}
                                            <strong><p class="is-4">⚠️ Please fix the following problems:</p></strong>
                                            {{ form.password2.errors }}
                                        {% endif %}
                                    </section>
                                </div>
                            </section>
                            <button data-mdb-button-init data-mdb-ripple-init class="button" type="submit">Sign Up</button>
                        </div>
                    </form>
                    
                    <div>
                        <p class="mb-0">Already have an account? <a href="/accounts/login" class="text-white-50 fw-bold">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">

            </div>
        </div>
    </div>
</section>

{% endblock %}